@font-face {
  font-family: 'Smart';
  src: url('https://cdn.jsdelivr.net/gh/ecliptiq/fonts/sans-serif/Smart/Smart-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Smart';
  src: url('https://cdn.jsdelivr.net/gh/ecliptiq/fonts/sans-serif/Smart/Smart-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Smart';
  src: url('https://cdn.jsdelivr.net/gh/ecliptiq/fonts/sans-serif/Smart/Smart-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}